{{define "layout"}}
<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{.Title}} — Переменные в Go</title>
	<link rel="stylesheet" href="/static/web/static/css/style.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<main class="container">
		{{template "content" .}}
	</main>
	<script src="/static/web/static/js/app.js" defer></script>
</body>
</html>
{{end}}
